# نادیده گرفتن پوشه‌های __pycache__ در هر مسیر
**/__pycache__/
**/*.py[cod]

# نادیده گرفتن فایل‌های pyc در هر مسیر
*.pyc

# نادیده گرفتن پوشه‌هایی به نام __pycache__ در سطح‌های مختلف
__pycache__/
**/__init__.py
# نادیده گرفتن فایل‌های دیتابیس یا فایل‌هایی که نمی‌خواهید ردیابی شوند، اگر نیاز بود
config/settings.py
assets/nidc.jpg
assets/nidc100.jpg

.env*
